.min-h-screen{
    min-height: 100vh;
}

.bg-red
{
    background-color: red;
}

.mx-auto
{
    margin-left: auto;
    margin-right: auto;
}

.flex
{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between
{
    justify-content: space-between;
}

.justify-center
{
    justify-content: center;
}


.flex-col
{
    flex-direction: column;
}

.font-bold
{
    font-weight: bolder;
}

.my-1
{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2
{
    margin-top: 26x;
    margin-bottom: 26px;
}

.px-1
{
    padding-left: 13px;
    padding-right: 13px;
}

.text-orange{
    color: orangered;
}

.text-cyan
{
  color: blue;
}

.btn
{
    padding:5px 13px ;
    border: 3px solid black;
    color: white;
    cursor: pointer;
    background-color: purple;
    border-radius: 13px;
}

.text-center
{
    text-align: center;
}

.dropdown
{
    display: inline-block;
    position: relative;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }


  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .btn1{
    border:none;
    border-radius:5px;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
  }
  
  .btn1:hover{
    background-color:#ddd;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
  }

  .sgp
  {
      padding:5px 13px ;
      border: 3px solid black;
      color: white;
      cursor: pointer;
      background-color: orange;
      border-radius: 13px;
  }
